* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --contrast-color-100: #911322;
    --contrast-color-200: #C5192D;
    --contrast-color-300: #CE5966;
    --contrast-color-400: #D7818A;
    --color-white: #F7F3E7;
    --color-black: #1E1E1E;
}

.container {
    width: 100%;
    max-width: 1120px;
    margin: 0 160px 0 160px;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--color-white);
}

header {
    background-color: var(--contrast-color-100);
    padding: 15px 0 15px 0;
}

.header-menu {
    display: flex;
    align-items: center;
}

.header-logo {
    display: inline;
    width: 500px;
}

.header-logo img{
    max-width: 30%;
}

.header-links ul{
    display: flex;
    flex-direction: row;
    margin-left: 200px;
    list-style-type: none;
    gap: 20px;
}

.header-links a{
    text-decoration: none;
    color: var(--color-white);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.header-hero{
    height: 400px;
    background-color: var(--contrast-color-200);
    background-image: url(./assets/img\ hero.png);
    background-repeat: no-repeat;
    background-position: right;
}

.infos {
    width: 600px;
    color: var(--color-white);
    padding: 80px 20px;
    text-align: left;
}

.infos h1{
    padding-bottom: 30px;
    font-size: 38px;
    font-weight: 700;
}

.sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
}

.infos-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.infos-video h1{
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: 800;
}

.infos-video p{
    line-height: 23px;
    padding-bottom: 10px;
}

.video {
    background-color: var(--contrast-color-200);
    padding: 05px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.metas {
    height: 600px;
    padding-left: 20px;
    background-color: var(--contrast-color-300);
    background-image: url(./assets/img\ banner.png);
    background-repeat: no-repeat;
    background-position: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.metas-infos {
    width: 520px;
    margin-bottom: 15px;
}

.metas-infos h2 {
    color: var(--color-white);
    padding-bottom: 20px;
}

.metas-infos p{
    color: var(--color-white);
}

.metas-sanfona {
    width: 520px;
}

.metas-sanfona details {
    margin-bottom: 5px;
}

.metas-sanfona details summary{
    padding: 4px;
    width: 490px;
    font-weight: 700;
    background-color: var(--color-white);
    border: none;
    color: var(--contrast-color-100);
}

.metas-sanfona details p{
    background-color: #ffffff;
    width: 490px;
    padding: 10px;
    margin: 0;
    color: var(--color-black);
}

.titulo-projetos {
    text-align: center;
    font-weight: 700;
    color: var(--contrast-color-100);
    margin: 50px 0;
}

.projetos {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 20px;
    color: var(--color-white);
    width: 240px;
    height: 320px;
    padding: 20px;
    background-color: var(--contrast-color-300);
    border-radius: 15px;
}

.card img{
    border-radius: 10px;
}

.card a{
    display: inline;
    color: var(--color-white);
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 800;
    letter-spacing: 2px;
    font-size: 12px;
    padding: 10px;
    background-color: var(--contrast-color-100);
    border-radius: 10px;
}

.card a:hover {
    background-color: var(--contrast-color-400);
    transition: all .3s;
}

.card:hover{
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}

.call-to-action {
    text-align: center;
    font-weight: 700;
    color: var(--contrast-color-100);
    margin: 70px 0;
}

.call-to-action a{
    display: inline;
    color: var(--color-white);
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 800;
    letter-spacing: 2px;
    font-size: 12px;
    padding: 10px;
    background-color: var(--contrast-color-100);
    border-radius: 10px;
}

.call-to-action a:hover {
    background-color: var(--contrast-color-400);
    transition: all .3s;
}

.link-cta {
    margin-top: 20px;
}

.referencias {
    height: 200px;
    margin-bottom: 20px;
    background-color: var(--contrast-color-400);
    background-image: url(./assets/img\ ref.png);
    background-repeat: no-repeat;
    background-position: right;
}

.referencias .links-refs {
    margin-top: 20px;
    padding: 20px;
}

.links-refs h2{
    color: var(--color-white);
    margin-bottom: 10px;
}

.links-refs a{
    text-decoration: none;
    color: var(--color-white);
}

.links-refs a:hover{
    color: var(--contrast-color-100);
}

footer {
    background-color: var(--contrast-color-100);
    display: flex;
    align-items: center;
}

.contato {
    color: var(--color-white);
    padding: 20px;
    text-align: left;
    line-height: 30px;
}

footer .social {
    width: 10%;
    text-decoration: none;  
}

footer .parceiros{
    display: flex;
    color: var(--color-white);
    text-align: left;
}

.logo-parceiro {
    width: 80%;
}




